body{
    font-family: roboto, bold;
    margin: 0;
    
}


a{
    text-decoration: none;
    color: black;
    font-size: px;
    
}

.nav-link{
    animation-name: mover;
    animation-duration: 1s;
}

header{
    
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    
    height: 60px;
    background: linear-gradient(0deg, #D0EBFF 0%, #ff81cb 100%);
    padding-right: 60px;
    align-items: center;
}


.logo{
    display: flex;
    width: 100px;
    align-items: center;
    padding-left: 40px;
    color: #D0EBFF;
    animation-name: mover;
    animation-duration: 1s;
}

.logo:hover{
    color: #ff81cb;
}

.logo img{
    height: 100px;
    margin-right: 20px;
}

nav a{
    
    font-weight: 600;
    padding-right: 10px;

}

nav a:hover{
    color: #D0EBFF;
}

@media (max-width: 700px){
    
    .logo img{
        width: 0%;
    }   

}


body{
    background-color: #FF81CB;
}


footer{
    
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    height: 60px;
    background: linear-gradient(0deg, rgba(255,129,203,1) 0%, #D0EBFF 100%);

}

main{
    
    display: flex;
    width: 100%;
    background: linear-gradient(0deg, rgba(208,235,255,1) 0%, whitesmoke 50%, rgba(208,235,255,1) 100%);  
}

/*flexbox*/

img{
    width: 100%;
}

.row{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
}

.column{
    margin: 30px;
    flex: 25%;
    padding: 10px;
    animation-name: mover;
    animation-duration: 1s;
}

.column img{
    margin-top: 10px;
}

@media (max-width: 600px){
    .column{
        flex: 100%;
    }
}

@media (max-width: 800px){
    .column{
        flex: 50%;
    }
}


.about{
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    
}

.derechos{
    animation-name: mover;
    animation-duration: 1s;
}

@keyframes mover {
    20%{
        transform: translate(-5%, 0);
    }
   
    80%{
        transform: translate(1%, 0);
    }

}

.row :hover{
    transform: scale(1.05);
}


@font-face{
    font-family: roboto;
    src: url("roboto.ttf") format("truetype");
}
